# Node
node_modules/
dist/
out-tsc/
package-lock.json
npm-debug.log*
yarn.lock
pnpm-lock.yaml

# Compiled output
*.js
*.d.ts

# System files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*.local

# Angular cache
.angular/
.cache/

# VSCode
.vscode/

# Logs
logs/
*.log

# Fake APIs
backend-fakeapi/**/db.json

# IDEs e configs locais
.idea/
*.iml

# Mac
Icon?
